/* Add any global styles you want here */
html, body, #root {
  height: 100%;
  margin: 0;
  font-family: "montserrat", sans-serif;
  color: #ffffff;
  
}

@font-face {
  font-family: 'Blanka';
  src: local('Blanka'), url(../public/Blanka-Regular.otf) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}